.login-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  margin: auto;
  background-color: #152850;
}
.website-image {
  width: 550px;
  padding: 25px;
}

.sub-container {
  margin: 10px;
  min-height: 85vh;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e0eefe;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.form-container {
  background-color: #ffffff;
  width: 30vw;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  border-radius: 8px;
  border-radius: 24px;
  margin-left: -30px;
}

.welcome {
  text-align: left;
  font-family: roboto;
  font-size: 38px;
  color: #183b56;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #5a7184;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #c3cad9;
  background-color: transparent;
  color: #000000;
  border-radius: 9px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #c3cad9;
  background-color: transparent;
  color: #64748b;
  border-radius: 9px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #1565d8;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-message {
  align-self: center;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #ff0b37;
}
